@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    У цьому додатку наразі не зареєстровано жодного реального відправника імейлів.
    Зазвичай це виконується через електронну пошту: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть тут, щоб підтвердити свій обліковий запис</a>
</p>
    }
    else
    {
<p>
        Будь ласка перевірте свою електронну пошту для підтвердження облікового запису.
</p>
    }
}

